#display {
	width: 100%;
	min-height: 100vh;
	//background-color: lightgoldenrodyellow;
	text-align: center;
	font-family: 'Microsoft JhengHei', '微軟正黑體', Arial, Helvetica, sans-serif;

	.row {
		width: 100%;

		& > div {
			width: 100%;
			background-color: #f5f3e2;
			color: #111;
			padding: 3px 0px;
		}

		& > div:nth-last-child(1) {
			margin-bottom: 30px;
		}

		.title {
			color: #a4780d;
		}

		.name {
			background-color: #ae9579;
			color: #fff;
		}
	}
}
